<?xml version="1.0" encoding="UTF-8"?>
<config>
    <config-name>zkutils</config-name><!-- used to resolve dependency -->
    <depends>zk</depends>

    <version>
        <version-class>org.zkoss.zul.Version</version-class>
        <version-uid>8.0.0</version-uid>
        <zk-version>8.0.0</zk-version><!-- or later -->
    </version>

</config>